<div class="row">
  <div class="col-md-2">
    <h1>Topics</h1>
  </div>
  <div class="col-md-2">
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success btn-sm' %>
  </div>
</div>

<% @topics.each do |topic| %>
<div class="row">
        
      <div class="col-md-1">
        <h4><%= link_to topic.title, topic_path(topic) %></h4>
      </div> 

      <div class="col-md-1">
        <h5>by:<%= topic.user.username %></h5>
      </div>
           
      <% if policy(topic).destroy? %>
        <div class="col-md-1">
          <%= link_to 'Delete', topic, method: :delete, class: 'btn btn-danger btn-xs' %>
        </div>     
      <% end %>
</div>
<% end %>
